*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 15px;
    margin-bottom: 15px; 
    background: #000000;
    

}
.bigWrapper{
    
    max-width: 60rem;
    margin: auto;
    border-radius: 30px !important;
}
.container{
    background-color: #F1F5FE;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0px;
    cursor: pointer;
    
}
.logo img{
    width: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22.28px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #155EEF;
    flex: none;
    order: 1;
    flex-grow: 0
}
.nav-links{
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 44px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links a{
    margin-left: 4rem;
    display: inline-block;
    text-decoration: none;
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #000000;    
}
.home{
    text-decoration: underline #155EEF !important;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.btn{
    display: inline-block;
    padding: 4px 4px;
    border-radius: 8px;
    border: 1px solid #155EEF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px !important;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #155EEF !important;
}
.body{
    background-color: #191919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4rem;
    height: 275px    
}
.image img{
    width: 250px;
    padding-top: 10px;
}
.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #155EEF;
    border-radius: 8px;
    padding: 4px 4px;
    margin-top: 4px;
    width: fit-content;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.cta .btns{  
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fff;
    text-decoration: none;
}
.text h5{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #B8B8B8;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text h3{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.text p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    color: #A3A3A3;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4rem;
    height: 295px;
    background-color: #F5F8FE;
}
.images img{
    width: 300px;
}
.about-me-text h3{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0; 
}
.about-me-text p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.ctas{
    display: inline-block;
    align-items: center;
    padding-top: 15px !important;
}
.ctas .abt{
    background: #155EEF;
    border-radius: 8px;
    color: #fff;
    padding: 5px 5px;
    font-family: 'Manrope';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.3px;
    text-decoration: none;
    width: fit-content;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.ctas .abts{
    font-family: 'Manrope';
    font-style: normal;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    background-color: #fff !important;
    border: 1px solid #155EEF;
    width: fit-content;
    letter-spacing: 0.3px;
    color: #155EEF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.foot{
    background-color: #191919;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    padding: 0 3rem;
    justify-content: space-between;
}
.foot .logos{
    display: flex;
    align-items: center;
    padding: 0px;
    cursor: pointer;
}
.foot .logos img{
    width: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}    
.logos h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22.28px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0
}
.foot-links ul{
    display: flex;
    list-style: none;
    align-items: center;

}
.foot-links{
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 4rem;
}
.foot-links img{
    width: 32px;
    padding: 4px 8px;
}
.foot p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 12px 0;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}